*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:hover, a:visited, a:active {
	text-decoration: none;
}

html,
body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: relative;

  font-size: 16px;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

i {
  width: 16px;
}

/*
############### ANIMATION #################
*/

.admin__sidepanel ul li {
  transition: background .3s ease-in-out;
}

/*
############### FLEX #################
*/

.flex,
.flex--center,
.admin__sidepanel ul li {
  display: flex;
  display: -webkit-flex;
}

.flex--center, .admin__sidepanel ul li {
  align-items: center;
  -webkit-align-items: center;
}

/*
################ STATUSBAR ##############
*/

.admin__statusbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 50px;
  padding: 0 25px;
  background: rgb(232, 239, 170);
}


.admin__statusbar span {
  font-weight: lighter;
  /* color: lightgrey; */
}

.admin__statusbar span i {
  margin-right: 1em;
}

.admin__statusbar #username {
  margin-left: auto;
}

/*
##################### SIDEPANEL ################
*/

.admin__sidepanel {
  position: absolute;
  top: 53px;
  left: 0;
  z-index: 999;
  width: 200px;
  height: 948px;
  padding: 25px 0;
  background: #f9f4d2;
  margin-top: 235px;
  border-right: 2px solid;
}

.admin__sidepanel ul li {
  width: 100%;
  height: 70px;
  padding-left: 25px;
  font-size: 1em;
  font-weight: 900;
  /* color: lightgrey; */
}

.admin__sidepanel ul li:hover {
  background: rgb(253, 187, 51);
  cursor: pointer;
}

.admin__sidepanel ul li i {
  margin-right: 1em;
}

/*
##################### MAIN ################
*/

.admin__main {
  position: relative;
  top: 55px;
  left: 220px;
  width: 1040px;
  height: 100%;
  padding: 2em;

  background: white;
  box-shadow: 0 2px 1px rgba(0,0,0,.1);
  text-align: center;
}

.admin__main h1 {
  font-weight: lighter;
  font-size: 3em;
}
