@CHARSET "UTF-8";
/*게시판*/
h2 {
	font-size: 32px;
	font-weight: 500;
}

section#board-container{
	width: 800px;
	text-align: center;
	margin: 0 auto;
	padding: 24px 0;
}

section#board-container h2{
	margin:10px 0;
}

#tbl-board {
	width: 100%;
	margin: 0 auto;
	border: 0;
	border-collapse: collapse;
	margin-bottom: 24px;
}

#tbl-board th {
	border: 0;
	padding: 12px 4px;
	background-color: #e0e0e0;
}

#tbl-board tr {
	border: 0;
	
	border-bottom: 1px solid #ECEEF1;
}


#tbl-board td {
	padding: 12px 4px;
}

#tbl-board td input {
	width: 100%;
	
	font-size: 14px;
	
	outline: none;
	border: 0;
	border-bottom: 1px solid #BBBBBB;
}

#tbl-board td textarea {
	width: 100%;
	
	outline: none;
	border: 0;
	border-bottom: 1px solid #BBBBBB;
}

/*글쓰기버튼*/
#btn-add1, .submit-button {
	font-size: 16px;
	border: 0;
	outline: 0;
	border-radius: 8px;
	background-color: #525252;
	color: white;
	padding: 8px 16px;
	font-weight: 500;
	
	display: block;
	margin-left: auto;
	margin-bottom: 8px;
}

#btn-add2, .submit-button {
	font-size: 14px;
	border: 0;
	outline: 0;
	border-radius: 8px;
	background-color: #525252;
	color: white;
	padding: 8px 16px;
	font-weight: 500;
	margin-left: auto;
	margin-bottom: 8px;
}

#btn-add3, .submit-button {
	font-size: 14px;
	border: 0;
	outline: 0;
	border-radius: 8px;
	background-color: #525252;
	color: white;
	padding: 8px 16px;
	font-weight: 500;
	margin-left: auto;
	margin-bottom: 8px;
	position:absolute;
}

/*페이지바*/
div#pagebar{
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 24px;
	
	font-size: 14px;	
}

div#pagebar span.cPage{
	font-weight: bold;
}

div#pagebar :not(span.cPage){
	color: #AAAAAA;
}



/*게시글 작성/상세보기 테이블*/
table#tbl-board-view {
	width:500px; 
	margin:0 auto; 
	border:1px solid black; 
	border-collapse:collapse;  
}
table#tbl-board-view th {
	width: 150px; 
	border:1px solid; 
	padding: 10px 0; 
	text-align:center; 
} 
table#tbl-board-view td {
	border:1px solid; 
	padding: 5px 0 5px 15px; 
	text-align:left;
}
table#tbl-board-view img {width: 16px;}
table#tbl-board-view input[type=file] {margin: 3px 0;}

/*게시글 수정하기*/
span#fname{
    position: absolute;
    left: 92px;
    top: 10px;
    width: 255px;
    font-size: 14px;
    background: #f5f5f5;
}
#del_file+label{font-size:.8em; position:relative; top:-3px;}

/*댓글등록버튼*/
div.comment-container button#btn-comment-enroll1 { width:60px; height:50px; color:white; background:#3300ff; position:relative; top:-20px;}

/*댓글테이블*/
table#tbl-comment{width:580px; margin:0 auto; border-collapse:collapse;} 
table#tbl-comment tr td{border-bottom:1px solid; border-top:1px solid; padding:5px; text-align:left; line-height:120%;}
table#tbl-comment tr td:first-of-type{padding: 5px 5px 5px 50px;}
table#tbl-comment tr td:last-of-type {text-align:right; width: 100px;}
table#tbl-comment button.btn-reply{display:none;}
table#tbl-comment tr:hover {background:lightgray;}
table#tbl-comment tr:hover button.btn-reply{display:inline;}
table#tbl-comment sub.comment-writer {color:navy; font-size:14px}
table#tbl-comment sub.comment-date {color:tomato; font-size:10px}

table#tbl-comment tr.level2 {color:gray; font-size: 14px;}
table#tbl-comment tr.level2 td:first-of-type{padding-left:100px;}
table#tbl-comment tr.level2 sub.comment-writer {color:#8e8eff; font-size:14px}
table#tbl-comment tr.level2 sub.comment-date {color:#ff9c8a; font-size:10px}

/*답글관련*/
table#tbl-comment textarea{margin: 4px 0 0 0;}
table#tbl-comment button.btn-comment-enroll2{width:60px; height:23px; color:white; background:#3300ff; position:relative; top:-5px; left:10px;}

/* 삭제버튼관련 */
table#tbl-comment button.btn-delete{background:red; color:white; display:none;}
table#tbl-comment tr:hover button.btn-delete{display:inline;}