@charset "UTF-8";
#msg-container {
	min-height: 830px;
	margin: 0 auto;
	padding-top: 100px;
	text-align: center;
}
#msg-wrap {
	width: 800px;
}
#msg-wrap th {
	background: #ffa5003b;
	border-style: none;
	border-top: 1px solid;
	border-bottom: 1px solid;
}
#msg-wrap td {
	border-bottom: 1px solid dimgrey;
}
#check {
	width: 35px;
}
#sen {
	width: 120px;
}
#tit {
	width: 480px;
}
#pagebar {
/* 	background: #ffa5003b; */
	margin-top: 20px;
	cursor: pointer;
}
#pagebar:hover {
	color: orange;
}
#msgBtn {
	border-style: none;
	background: none;
	width: 100%;
}
#msgBtn :hover {
	background: dimgrey;
}
.readFrm {
 	position: fixed;
	top: 50%; left: 50%; 
	transform: translate(-50%, -50%); 
	width: 25em; 
	height: 21em; 
	padding: 10px;
	border: 1px solid grey;
	background: white;
	border-radius: 1em;
	visibility: hidden;
	z-index: 99;
}
.showPopup {
	/* position: fixed;  */
	top: 50%; left: 50%; 
	transform: translate(-50%, -50%); 
	width: 25em; 
	height: 25em; 
	border: 1px solid grey;
	background: white;
	border-radius: 1em;
	visibility: visible;
	z-index: 999;
}