@CHARSET "UTF-8";
/*게시판*/

#ootdwrite{
	font-family: 'Nanum Gothic Coding', monospace;	
	font-weight : 700;
	margin-bottom : 40px
}

.note-editable{
	text-align:left;
	font-weight : normal;
}



section#board-container{
	/* width:1000px; */ 
	margin:0 auto; 
	text-align:center;
	}

table#tbl-board{
	width:100%; 
	margin:0 auto; 
	border:1px solid black; 
	border-collapse:collapse; 
	clear:both; 
}
	
table#tbl-board th{
	font-weight : 500;
	width : 20%
}	
	
table#tbl-board th, table#tbl-board td {
	border:1px solid; 
	padding: 5px 0; 
	text-align:center;
	font-family: 'Nanum Gothic Coding', monospace;	
} 

/*글쓰기버튼*/
input#btn-add{float:right; margin: 0 0 15px;}

/*페이지바*/
div#pagebar{
	margin-top:10px; 
	text-align:center; 
	background-color:rgba(0, 188, 212, 0.3); 
}

div#pagebar span.cPage{
	color:black; 
	margin-right: 5px;
	font-size:18px;
}


div#pagebar a{margin-right: 5px;}

div#pagebar a:hover{
	background-color: #f98220;
	font-size:24px;
	font-weight: 900;
}


/* ★★★★   게시글 작성/상세보기 테이블  ★★★★★*/
table#tbl-board-view {
	width: 800px;
	margin : 0 auto;
	border:3px solid black; 
	border-collapse:collapse;  
}
table#tbl-board-view th {
  	font-size: 15px;
	width: 150px; 
	border:1px solid black; 
	padding: 8px 15px;
	text-align:center; 
	
} 
table#tbl-board-view td {
	border:1px solid black; 
	padding: 5px 0 5px 15px; 
	text-align:left;

	
}

table#tbl-board-view img {width: 16px;}
table#tbl-board-view input[type=file] {margin: 3px 0;}

/*게시글 수정하기*/
span#fname{
    position: absolute;
    left: 92px;
    top: 10px;
    width: 255px;
    font-size: 14px;
    background: #f5f5f5;
}

/* enroll table에서 에서 input 태그들 */
.inputtext{
	width : 600px;
	border: none;
    border-bottom: 2px solid grey;
}


/* enroll에서 글쓰기 - 취소  제출버튼 */
.inputbuttons{
	background-color : black;
	color : white;
	width : 120px;
	height : 33px;
	margin-right : 100px;
	margin-left : 60px
}

.inputbuttons:hover { 
	font-weight : 600;
	font-size : 18px;	
}


#del_file+label{font-size:.8em; position:relative; top:-3px;}

/*댓글등록버튼*/
div.comment-container button#btn-comment-enroll1 {width:60px; height:50px; color:white; background:#3300ff; position:relative; top:-20px;}

/*댓글테이블*/
table#tbl-comment{width:580px; margin:0 auto; border-collapse:collapse;} 
table#tbl-comment tr td{border-bottom:1px solid; border-top:1px solid; padding:5px; text-align:left; line-height:120%;}
table#tbl-comment tr td:first-of-type{padding: 5px 5px 5px 50px;}
table#tbl-comment tr td:last-of-type {text-align:right; width: 100px;}
table#tbl-comment button.btn-reply{display:none;}
table#tbl-comment tr:hover {background:lightgray;}
table#tbl-comment tr:hover button.btn-reply{display:inline;}
table#tbl-comment sub.comment-writer {color:navy; font-size:14px}
table#tbl-comment sub.comment-date {color:tomato; font-size:10px}

table#tbl-comment tr.level2 {color:gray; font-size: 14px;}
table#tbl-comment tr.level2 td:first-of-type{padding-left:100px;}
table#tbl-comment tr.level2 sub.comment-writer {color:#8e8eff; font-size:14px}
table#tbl-comment tr.level2 sub.comment-date {color:#ff9c8a; font-size:10px}

/*답글관련*/
table#tbl-comment textarea{margin: 4px 0 0 0;}
table#tbl-comment button.btn-comment-enroll2{width:60px; height:23px; color:white; background:#3300ff; position:relative; top:-5px; left:10px;}

/* 삭제버튼관련 */
table#tbl-comment button.btn-delete{background:red; color:white; display:none;}
table#tbl-comment tr:hover button.btn-delete{display:inline;}