@charset "UTF-8";
@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css");

/** p **/

#profileimg{
	margin-left: -400px;
	width:40px;
	float:right;	
}

.ootdnav {
    display: inline-block;
    font: 13px Helvetica, Tahoma, serif;
    text-transform: uppercase;
    margin: 0; 
    padding: 0;
    font-family: 'Nanum Gothic Coding', monospace;	
    font-size : 16px;
}

.ootdnav li {
    display: inline-block;
    list-style: none;
    font-family: 'Nanum Gothic Coding', monospace;	
    font-size : 16px;
   	margin-left: 0px;
}

.ootdnav .button-dropdown {
    position: relative;
    left : 60px;
    top : 50px;
}

.ootdnav li a {
    display: block;
    color: #333;
    background-color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Nanum Gothic Coding', monospace;	
    font-size : 14px;
    margin-left: 50px;
}

.ootdnav li a span {
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
    color: #999;
}

.ootdnav li a:hover, .ootdnav li a.dropdown-toggle.active {
 /*   background-color: #289dcc; */
    color: #fff;
}

.ootdnav li a:hover span, .ootdnav li a.dropdown-toggle.active span {
    color: #fff;
    font-weight : bolder;
}

.ootdnav li a:hover:not(#firsta){
	background-color: gray;
}

.ootdnav li .dropdown-menu {
    display: none;
    position: absolute;
    left: 70px;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    text-align: left;
}

.ootdnav li .dropdown-menu.active {
    display: block;
}

.ootdnav li .dropdown-menu a {
    width: 150px;
}


/*게시글 작성/상세보기 테이블*/



#informationsp{
	font-weight : 900;
	font-size:18px;
	display : inline;
	margin-top : 20px;
	margin-left : 970px;
	margin-bottom : 20px;
	width : 200px
}


.imgNtableContainer{
  text-align: center;
  display : flex;
  padding-left : 500px
}

.box{
 flex-direction : column;
 margin-left : 20px;
}

#styleinfo{
	font-weight:200; font-size:16px; color:lightgray; 	
}

/**내용 출력하는 div **/
#contents{
	margin-top : 10px;
	margin-left : 50px;
	margin : 0 auto;		
	font-size : 15px;
}

#contentsbox{
	float:left; 
	border : 1px solid lightgray;
	width : 490px;
	height : 200px;
	text-align: left;
	padding : 10px;
	padding-left : 10px;
	margin : 10px 30px 30px 30px;	
}



.heart{
	margin: 30px 6px 0 0;
	width : 30px;
	display : inline;
	position : absolute;
	left : 780px;
	top : 1050px; 
}

#tblboardview {
	width:500px; 
/*	border:1px solid black; */
	border-collapse:collapse;  
	margin-top : 20px;
	margin-left : 20px;
	font-family: 'Nanum Gothic Coding', monospace;	
	font-size : 15px;
}

tr{
	padding: 5px 0 5px 0px; 
	text-align:left;
		font-size : 15px;
}

table#tblboardview th {
	padding: 5px 0 15px 10px; 
	text-align:left;
	width : 100px;
	font-size : 15px;
	
}

table#tblboardview td { 
	padding: 5px 0 15px 15px; 
	text-align:left;
	font-size : 15px;
}
table#tbl-board-view img {width: 16px;}
table#tbl-board-view input[type=file] {margin: 3px 0;}

.styleinfo{
	color : #f90686;
	font-style : italic;
	font-weight : bold;
	
	
}

/*수정삭제버튼*/
.ootdmodidel{
	float : right;
	margin-top : 10px;
	margin-left : 1px; 
	display : block;
	position :relative;
	top : 200px;
	left : -196px;
	height:26px;
	width : 67px;
	background-color : black;
	color : white; 	
	
}




/*게시글 수정하기*/
span#fname{
    position: absolute;
    left: 92px;
    top: 10px;
    width: 250px;
    font-size: 14px;
    background: #f5f5f5;
}
#del_file+label{font-size:.8em; position:relative; top:-3px;}

/*댓글등록버튼*/
div.comment-container button#btn-comment-enroll1 {
	width:55px; 
	height:50px; 
	color:white; 
	font-weight : bold;
	background-color : black; 
	position:relative; 
	top:-20px;
	left : -5px;
}

/*댓글테이블*/

#cmttitle{
	margin-left : 518px;
	height : 85px;
	width : 950px;
	background-color : rgb(0, 0, 0);
	font-size : 28px;	
	padding : 20px;
	bolder : 1px solid black;
}

.comment-editor{
	margin-left : 518px;
	height : 85px;
	width : 950px;
	background-color : white;
	font-size : 28px;	color : #000040;
	padding : 10px;
	border : 1px solid black;
}

#cmtcontent{
	height : 50px;
	width : 863px;
	background-color : rgb(255, 255, 255);
	font-size : 16px;	
	color : #000040;
	padding : 10px
}

.maketd :hover{
	background-color: black;
}

#cmtcmtcontent{ 
/* 대댓글 */
	height : 40px;
	width : 800px;
	background-color : #fef3de;
	font-size : 16px;	
	color : #000040;
	padding : 10px;
}

table#tbl-comment{
	width : 950px;
	margin-left : 518px;
	border-collapse:collapse;
	background-color : rgb(255, 255, 255);	
} 
table#tbl-comment tr td{
	border-bottom:1px solid; 
	border-top:1px solid; 
	padding:5px; 
	text-align:left; 
	line-height:120%;
	font-weight : 100;

}

table#tbl-comment tr td #text{
	
	
font-weight : 100;
}



table#tbl-comment tr td:first-of-type{padding: 5px 5px 5px 50px;}
table#tbl-comment tr td:last-of-type {text-align:right; width: 100px;}
table#tbl-comment button.btn-reply{display:none;}
table#tbl-comment tr:hover {background:lightgray;}
table#tbl-comment tr:hover button.btn-reply{display:inline;}
table#tbl-comment sub.comment-writer {
	color:navy; 
	font-size:14px;
	margin-right : 40px	
}
table#tbl-comment sub.comment-date {color:tomato; font-size:10px}

table#tbl-comment tr.level2 {color:gray; font-size: 14px;}
table#tbl-comment tr.level2 td:first-of-type{padding-left:100px;}
table#tbl-comment tr.level2 sub.comment-writer {color:#8e8eff; font-size:14px}
table#tbl-comment tr.level2 sub.comment-date {color:#ff9c8a; font-size:10px}

/*댓글 --- 대댓 답글관련*/
table#tbl-comment textarea{margin: 4px 0 0 0;}
table#tbl-comment button.btn-comment-enroll2{
	width:45px; 
	height:40px; 
	color:white; 
	background:black;
	position:relative; 
	top:-15px; 
	left:1px;
}

/* 삭제버튼관련 */
table#tbl-comment button.btn-delete{
	background:black; 
	color:white; 
	display:none;
}

table#tbl-comment button.btn-delete:hover{
	background:red; 
	color:black; 
	display:none;
}


table#tbl-comment tr:hover button.btn-delete{display:inline;}

/* 네온효과추가 */
#cmttitle {
  font-family: Vampiro One;
  animation: neon6 1.5s ease-in-out infinite alternate;
}


@keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
      0 0 50px #ff00de, 0 0 50px #ff00de, 0 0 50px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de,
      0 0 35px #ff00de,  0 0 40px #ff00de, 0 0 45px #ff00de;
  }
}

/* 신고 */
#siren {
	width: 30px;
	transform: translate(200px, -261px);
	cursor: pointer;
	position: absolute;
	top : 1090px;
	left : 1130px;
}
/* 신고폼 */
#report {
	color: white; 
	background: red; 
	border: 1px solid black; 
	float: right;
	cursor: pointer;
}
.report_container {
	position: fixed; 
	top: 50%; left: 50%; 
	transform: translate(-50%, -50%); 
	width: 25em; 
	height: 21em; 
	padding: 10px;
	border: 1px solid grey;
	background: white;
	border-radius: 1em;
	visibility: hidden;
}
.showPopup {
	position: fixed; 
	top: 50%; left: 50%; 
	transform: translate(-50%, -50%); 
	width: 25em; 
	height: 25em; 
	border: 1px solid grey;
	background: white;
	border-radius: 1em;
	visibility: visible;
	z-index: 999;
}
.close-button {
    float: right;
    width: 25px;
    text-align: center;
    cursor: pointer;
    border-radius: 0.3rem;
    background-color: lightgray;
    margin: .5em;
}
.close-button:hover {
    background-color: darkgray;
}
#report_wrap {
    width: 25em;
    margin: 0 auto;
}
#reason_wrap {
    width: 24em;
    margin: 0 auto;
    padding-top: 108px;
}
#reason_wrap tbody th {
    padding: .2em;
}
#reason_wrap tbody td {
    border-bottom: 1px solid grey;
}


