@charset "EUC-KR";

.satustext{
	 width : 60px;
	 margin-left : 5px;
	 margin-bottom: 15px; 
	 height : 34px;
	 text-align:center; 
	 background : #e2e2e2; 
}

#sharewrite{
	font-family: 'Nanum Gothic Coding', monospace;	
	font-weight : 700;
	margin-bottom : 40px;
	margin-top : 40px; 
}

.note-editable{
	text-align:left;
	font-weight : normal;
}



section#board-container{
	width:1000px; 
	margin:0 auto; 
	text-align:center;
	}

table#tbl-board{
	width:100%; 
	margin:0 auto; 
	border:1px solid black; 
	border-collapse:collapse; 
	clear:both; 
}
	
table#tbl-board th{
	font-weight : 500;
	width : 20%
}	
	
table#tbl-board th, table#tbl-board td {
	border:1px solid; 
	padding: 5px 0; 
	text-align:center;
	font-family: 'Nanum Gothic Coding', monospace;	
} 

/*글쓰기버튼*/
input#btn-add{float:right; margin: 0 0 15px;}

/*페이지바*/
div#pagebar{
	margin-top:10px; 
	text-align:center; 
	background-color:rgba(0, 188, 212, 0.3); 
}

div#pagebar span.cPage{
	color:black; 
	margin-right: 5px;
	font-size:18px;
}
div#pagebar a{margin-right: 5px;}


div#pagebar a:hover{
	background-color: #f98220;
	font-size:24px;
	font-weight: 900;
	text-decoration : underline;
}


/* ★★★★   게시글 작성/상세보기 테이블  ★★★★★*/
table#tbl-board-view {
	width: 800px;
	margin : 0 auto;
	border:3px solid black; 
	border-collapse:collapse;  
}
table#tbl-board-view th {
  	font-size: 15px;
	width: 150px; 
	border:1px solid black; 
	padding: 8px 15px;
	text-align:center; 
	
} 
table#tbl-board-view td {
	border:1px solid black; 
	padding: 5px 0 5px 15px; 
	text-align:left;

	
}

table#tbl-board-view img {width: 16px;}
table#tbl-board-view input[type=file] {margin: 3px 0;}

/*게시글 수정하기*/
span#fname{
    position: absolute;
    left: 92px;
    top: 10px;
    width: 255px;
    font-size: 14px;
    background: #f5f5f5;
}

/* enroll table에서 에서 input 태그들 */
.inputtext{
	width : 600px;
	border: none;
    border-bottom: 2px solid grey;
}


/* enroll에서 글쓰기 - 취소  제출버튼 */
.inputbuttons{
	background-color : black;
	color : white;
	width : 120px;
	height : 33px;
	margin-right : 100px;
	margin-left : 80px
}

.inputbuttons:hover { 
	font-weight : 600;
	font-size : 18px;	
}


#del_file+label{font-size:.8em; position:relative; top:-3px;}
