@charset "UTF-8";
/* 메뉴바  */
/* Variables */
/* Variables */
button:hover{
	cursor: pointer;
}
/* :root{
font-family: 'Noto Sans KR', sans-serif;	
} */
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generic */
nav {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", 'Noto Sans KR', sans-serif;
/*  background: #f5f5f6; */
  background : beige;
  user-select: none;
  background-color : "beige"
}

a {
  text-decoration: none;
  color: #29434e;
  font-size: 11px;
  margin-left : 150px
}

/**/
#active,
#active-2,
#active-3,
#active-4,
#active-5 {
  position: absolute;
  left: 350px;
  height: 30px;
  width: 100px;
  z-index: 0;
  transition: left 0.5s ease-out;
  border-radius: 10px;
}

#active-2,
#active-3,
#active-4,
#active-5 {
  position: absolute;
  left: 350px;
  width: 50px;
  transition: left 0.5s ease-out 0.075s;
}

/**/
.menu {
	
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 420px;
  height: 45px;
  padding: 0 10px;
  /* border-radius: 25px; 
  background: white;*/
  background : #f9f4d2;
  margin-left : 100px;
 /*  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15); */
}

#i-3{
	margin-left : 130px;
}

#i-4{
	margin-left : 100px;
}

.menu__item {
  width: 130px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.menu__icon {
  position: absolute;
  width: 12px;
  height: 12px;
  object-fit: contain;
  margin-right: 4px;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transition: 0.5s ease-out;
  z-index: 100;
}
.menu__text {
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 100;
  font-size : 15px;
  color: black;
}

/**/
.is-icon-visible {
  position: inherit;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: 0.35s;
}

.is-text-visible {
  color: white;
}

.is-item-animated {
  animation: change 0.35s ease-out;
  
}

#tdloginSignup{
	margin-left : 70vw;	
}

#loginSignup{
	height : 30px;
	width : 140px;
	background-color : white;
}
*/
/* header 윗 부분 배경색 넣기 */

#headercolor{
	background-color : #f9f4d2;

}

/* #title{
	width : 400px;
	font-size : 70px;
	margin-left : 600px;
	margin : auto;	
	text-align : center;
} */

/* footer */
footer {
    position: relative;
    margin: 0 auto;
    padding: 30px;
    background-color: #f9f4d2;
}
#footer-wrap {
    font-size: 9px;
}
#footer_iogo {
    font-size: 1.3em;
}
#footer_info {
    display: inline-block;
    padding-top: 10px;
    cursor: pointer;
}
.youtube:hover {
    content: url(../image/youtube_over.png);
}
.instagram:hover {
    content: url(../image/instagram_over.png);
}
.github:hover {
    content: url(../image/github_over.png);
}
.facebook:hover {
    content: url(../image/facebook\ _over.png);
}
.footer_a:hover {
    color: rgb(178, 73, 73);
}
.footer_a {
	font-weight: 900;
}
#footer_sns {
    display: inline-block;
    position: absolute;
    right: 50px;
    margin: 15px;
    cursor: pointer;
}
#footer_sns > img {
    display: inline-block;
    padding-left: 7px;
    width: 35px ;
    height: 30px;
}
#footer_txt {
    padding-top: 15px;
}
#footer_span{
	visibility: unset;
	opacity: 1;
	font-weight: 900;
	color: black;
}