@charset "UTF-8";
/*@import "compass/css3";*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

#atag {
  margin-left: 85px;
  font-size: 35px;
  text-decoration: none;
  color: black;
  transition: 0.5s ease;
}
#atag:hover {
  color: grey;
}

.tab {
  float: left;
  margin-bottom: 20px;
}

/* .tab {
	float : right;
}  
*/
.form {
  background: beige;
  padding: 40px;
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
div.form{
	margin-left:15vw;
}
#enroll-container h2{
	text-align: center;
}
form table{
	padding:40px;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group .tab-group li {
  display: inline;
}
.tab-group .tab-group li a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.tab-group .tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

label {
  position: relative;
  /*  transform:translateY(6px); */
  left: 13px;
  color: black;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: skyblue;
}

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: black;
}
/*  label.top{
display: inline-block;
    margin-top: 50px;
}  */
input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid black;
  color: black;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

#check_label {
  display: inline-block;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.button{
	background: lightpink;
}
/*-------------------container-menu----------------------*/
.main{
	display: flex;
}
.container-menu{
	width:250px;
	background: beige;
}
.container-li{
	display: flex;
    margin-left: -130px;
    margin-top: 80px;
    margin-bottom: 20px;

}
.container-menu ul{
	margin-left: 200px;
    margin-top: 20px;
    list-style: none;
}
.container-menu ul img{
	width: 30px;
	hight:30px;
	float: left;
	}

.container-menu ul a li{
	font-size:20px;
	width : 200px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;

	}
hr{
	border:1px solid black;
}
/*----------------------------------------------------*/


.button {
  border:0;
  margin: 8px 170px;
  outline:none;
  border-radius:0;
  padding:10px 10px;
  font-size:2rem;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:main;
  color: black;
  transition:all .5s ease;
  -webkit-appearance: none;
}
/*
  .button:hover, :focus {
    background:main-dark; 
  }

}

.button-block {
  display:block;
  width:100%;
}

.forgot {
  margin-top:-20px;
  text-align:right;
}
*/